numpy~=1.19.0
scipy~=1.5.1
scikit-image~=0.17.2
pillow~=7.2.0
pandas~=1.0.5
h5py
opencv
tensorflow >= 1.10
keras >= 2.2.4

opencv-python~=4.5.1.48
matplotlib~=3.2.2
ipython~=7.16.1
future~=0.18.2
image~=1.5.33